@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-xy {

  0%,
  100% {
    background-size: 400% 400%;
    background-position: left top;
  }

  25% {
    background-size: 400% 400%;
    background-position: right top;
  }

  50% {
    background-size: 400% 400%;
    background-position: right bottom;
  }

  75% {
    background-size: 400% 400%;
    background-position: left bottom;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 15s ease infinite;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ff6600, #ff6600);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-white {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(255, 255, 255)rgb(255, 255, 255)0)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}